@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Test area</h1>

<h2>Select your movie</h2>
<select id="film" name="film">
    <option selected="selected" value="">Movies</option>

    @foreach (var film in Model)
    {
       
    <option value="@film.Title">
        @film.Title.ToString()
    </option>
    }
</select>